@(request: Http.Request)

@main.layout("Contact us", request=request, scripts=scripts) {
    <div class="contact-map-area">
        <div id="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253682.62283124574!2d3.28395955!3d6.548055099999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8b2ae68280c1%3A0xdc9e87a367c3d9cb!2sLagos%2C%20Nigeria!5e0!3m2!1sen!2sus!4v1667787467300!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>

    <section class="contact-area">
        <div class="container">
            <div class="contact-info">
                <h3 class="contact-title">Contact us for any further questions, possible projects and <br> business partnerships</h3>

                <div class="contact-info-wrapper">
                    <div class="row gx-5">
                        <div class="col-lg-4">
                            <div class="single-contact-info">
                                <h4 class="info-title">Contact Directly <i class="ion-android-mail"></i></h4>

                                <p><a href="mailto:support@@carloaded.com">support@@carloaded.com</a></p>
                                @*<p><a href="tel:+2348000000000">(+234) 80-0000-0000</a></p>*@
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-contact-info">
                                <h4 class="info-title">visit our office <i class="ion-android-pin"></i></h4>

                                <p>Lekki<br> Lagos, Nigeria</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-contact-info">
                                <h4 class="info-title">work with us <i class="ion-briefcase"></i></h4>

                                <p>Send your CV to our email: <br> career@@carloaded.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contact-form">
                <h2 class="form-title">Get In Touch</h2>

                <form id="contact-form" action="#" method="post">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="single-form">
                                <input type="text" name="name" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-form">
                                <input type="email" name="email" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-form">
                                <input type="text" name="subject" placeholder="Subject">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="single-form">
                                <textarea name="message" placeholder="Write your review here..."></textarea>
                            </div>
                        </div>
                        <p class="form-message"></p>
                        <div class="col-lg-12">
                            <div class="single-form">
                                <button type="button" class="main-btn">Send Message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
}

@scripts = {
}
