@(request: Http.Request)

@main.layout("Recover Password", styles=styles, scripts=scripts, request=request) {
    <section class="login-register-page">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="login-register">
                        <h2 class="title">Recover your password</h2>
                        <div class="login-register-form">
                            <form action="@routes.PasswordResetController.submitForgotten()" method="post">
                                <input type="hidden" name="csrfToken" value="@Util.csrfToken(request)"/>
                                <div class="single-form">
                                    <label>Enter your email address</label>
                                    <input type="email" name="email" value="" class="form-control" required="required">
                                </div>

                                <div class="single-form form-btn">
                                    <button class="main-btn d-block">Recover</button>
                                </div>

                            </form>

                            <div class="mt-35">
                                <a href="@routes.LoginController.index()">Login Here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </section>

}

@styles = {
    <style type="text/css">

    </style>
}

@scripts = {
    <script type="text/javascript">

    </script>
}