@(map: java.util.Map[String, Object], request: Http.Request)

@seller = @{map.get("seller").asInstanceOf[Account]}

@res = @{map.get("res").asInstanceOf[search.SearchRes]}
@req = @{map.get("req").asInstanceOf[search.SearchReq]}
@results = @{res.results}
@count = @{results.getTotalRowCount.asInstanceOf[Long]}
@param = @{map.get("param").asInstanceOf[pojos.Param]}
@pager = @{new pojos.Pager(count, param.getPage, param.getSize)}

@main.layout(seller.businessName, request=request, meta=meta, scripts=scripts, styles=styles) {
    <section class="dealer-details-page">
        <div class="container">
            <div class="dealer-details-title-social d-lg-flex justify-content-between">
                <div class="dealer-title">
                    <h1 class="title">@seller.businessName</h1>
                    @*<p>"The only Lexus dealer in Los Angeles. "When you do the math, you'll choose McGrath"</p>*@
                </div>
                @*<div class="dealer-social">
                    <ul class="social">
                        <li><a class="facebook" href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a class="googleplus" href="#"><i class="ion-social-googleplus-outline"></i></a></li>
                        <li><a class="tumblr" href="#"><i class="ion-social-tumblr"></i></a></li>
                        <li><a class="rss" href="#"><i class="ion-social-rss"></i></a></li>
                    </ul>
                </div>*@
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-8">
                    <div class="dealer-details-content">
                        @*<div class="dealer-details-image">
                            <img src="@StaticAssets.getUrl("static/images/dealer-details.jpg")" alt="">
                        </div>*@
                        @if(Util.isNotEmpty(seller.about)) {
                            <div class="details-content">
                                <div class="details-title">
                                    <h3 class="title">About</h3>
                                </div>

                                @*<h4>Friendliest car store on the planet.</h4>*@
                                <p>@Html(seller.about)</p>
                            </div>
                        }

                        <div class="details-inventory">
                            <div class="details-title">
                                <h3 class="title">Inventory</h3>
                            </div>

                            <div class="row">
                                @for((auto, index) <- results.getList.zipWithIndex) {
                                    @main.listingSingle(auto)
                                }
                            </div>

                            <div class="inventory-more">
                                <a href="@routes.SellerController.single(seller.username)">See All Cars (@count)</a>
                            </div>
                        </div>

                        @inc.pagination(pager, request)

                        @*<div class="details-review">
                            <div class="details-title">
                                <h3 class="title">reviews</h3>
                            </div>

                            <div class="consumer-reviews">
                                <div class="point-rating">
                                    <div class="rating-score">
                                        <h5 class="score-title">Average Rating</h5>
                                        <span class="score-point">4.5</span>
                                        <div class="score-star">
                                            <ul class="star">
                                                <li class="rating-on"><i class="ion-android-star"></i></li>
                                                <li class="rating-on"><i class="ion-android-star"></i></li>
                                                <li class="rating-on"><i class="ion-android-star"></i></li>
                                                <li class="rating-on"><i class="ion-android-star"></i></li>
                                                <li><i class="ion-android-star"></i></li>
                                            </ul>
                                            <span>(8 Reviews)</span>
                                        </div>
                                    </div>

                                    <div class="rating-progress">
                                        <div class="single-progress">
                                            <div class="progress-star">
                                                <span>5 Star</span>
                                            </div>
                                            <div class="progress-line">
                                                <div class="line-bar" style="width: 80%;"></div>
                                            </div>
                                            <div class="progress-percent">
                                                <span>80%</span>
                                            </div>
                                        </div>
                                        <div class="single-progress">
                                            <div class="progress-star">
                                                <span>4 Star</span>
                                            </div>
                                            <div class="progress-line">
                                                <div class="line-bar" style="width: 10%;"></div>
                                            </div>
                                            <div class="progress-percent">
                                                <span>10%</span>
                                            </div>
                                        </div>
                                        <div class="single-progress">
                                            <div class="progress-star">
                                                <span>3 Star</span>
                                            </div>
                                            <div class="progress-line">
                                                <div class="line-bar" style="width: 10%;"></div>
                                            </div>
                                            <div class="progress-percent">
                                                <span>10%</span>
                                            </div>
                                        </div>
                                        <div class="single-progress">
                                            <div class="progress-star">
                                                <span>2 Star</span>
                                            </div>
                                            <div class="progress-line">
                                                <div class="line-bar" style="width: 0%;"></div>
                                            </div>
                                            <div class="progress-percent">
                                                <span>0%</span>
                                            </div>
                                        </div>
                                        <div class="single-progress">
                                            <div class="progress-star">
                                                <span>1 Star</span>
                                            </div>
                                            <div class="progress-line">
                                                <div class="line-bar" style="width: 0%;"></div>
                                            </div>
                                            <div class="progress-percent">
                                                <span>0%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="reviews-comment">
                                    <ul class="reviews-comments-items">
                                        <li>
                                            <div class="single-reviews-comment">
                                                <div class="comment-author">
                                                    <img src="@StaticAssets.getUrl("static/images/author-1.jpg")" alt="">
                                                </div>
                                                <div class="comment-content">
                                                    <div class="rating-name">
                                                        <ul class="author-rating">
                                                            <li class="rating-on"><i class="ion-android-star"></i></li>
                                                            <li class="rating-on"><i class="ion-android-star"></i></li>
                                                            <li class="rating-on"><i class="ion-android-star"></i></li>
                                                            <li class="rating-on"><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                        </ul>
                                                        <div class="author-name">
                                                            <h4 class="name">Nicest car I have ever owned</h4>
                                                        </div>
                                                    </div>
                                                    <ul class="meta">
                                                        <li>by <a href="#">Ron Wteasley</a></li>
                                                        <li>15 hours ago</li>
                                                    </ul>
                                                    <p>This car has been a blessing to me and my family so far. I will be returning to buy my second car.</p>
                                                    <a href="#" class="replay">Replay</a>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>

                                    <div class="more-reviews">
                                        <a href="#" class="more">see more reviews (5) <i class="ion-ios-arrow-down"></i></a>
                                    </div>
                                </div>

                                <div class="reviews-form">
                                    <form action="#">
                                        <h4 class="form-title">Submit your review</h4>

                                        <div class="your-rating">
                                            <p>Your rating of this product:</p>
                                            <ul id='stars'>
                                                <li class='star' title='Poor' data-value='1'>
                                                    <i class="ion-android-star"></i>
                                                </li>
                                                <li class='star' title='Fair' data-value='2'>
                                                    <i class="ion-android-star"></i>
                                                </li>
                                                <li class='star' title='Good' data-value='3'>
                                                    <i class="ion-android-star"></i>
                                                </li>
                                                <li class='star' title='Excellent' data-value='4'>
                                                    <i class="ion-android-star"></i>
                                                </li>
                                                <li class='star' title='WOW!!!' data-value='5'>
                                                    <i class="ion-android-star"></i>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="form-input-items">
                                            <div class="row gx-4">
                                                <div class="col-md-4">
                                                    <div class="single-input">
                                                        <input type="text" placeholder="Full Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="single-input">
                                                        <input type="text" placeholder="Email Address">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="single-input">
                                                        <input type="text" placeholder="Subject">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="single-input">
                                                        <textarea placeholder="Write your review here..."></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="single-input">
                                                        <button class="main-btn">Submit Review</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>

                <div class="col-xxl-3 col-lg-4">
                    <div class="sidebar">
                        <div class="sidebar-dealer-info">
                            <div class="dealer-title">
                                <h4 class="sidebar-title">seller info</h4>
                            </div>
                            @*<div class="dealer-map">
                                <div id="contact-map"></div>
                            </div>*@
                            <div class="dealer-info">
                                <div class="dealer-profile">
                                    <div class="profile-image">
                                        <img src="@seller.image()" alt="@seller.businessName">
                                    </div>
                                    <div class="profile-content">
                                        <h5 class="name"><a href="@routes.SellerController.single(seller.username)">@seller.businessName</a></h5>
                                        @*<div class="profile-rating">
                                            <ul class="star">
                                                <li class="rating-on"><i class="ion-android-star"></i></li>
                                                <li class="rating-on"><i class="ion-android-star"></i></li>
                                                <li class="rating-on"><i class="ion-android-star"></i></li>
                                                <li class="rating-on"><i class="ion-android-star"></i></li>
                                                <li><i class="ion-android-star"></i></li>
                                            </ul>
                                            <span>(24 Rating)</span>
                                        </div>*@
                                    </div>
                                </div>
                                <ul class="info-items">
                                    <li>
                                        <i class="ion-ios-telephone"></i>
                                        <span><a class="call" href="tel:@seller.phone">@seller.phone</a></span>
                                    </li>
                                    @if(Util.isNotEmpty(seller.whatsapp)) {
                                        <li>
                                            <i class="ion-social-whatsapp"></i>
                                            <span><a class="call" target="_blank"
                                            href="whatsapp://send?text=Hi, I will like to get more information on the cars you listed on Carloaded.com @Util.website()/sellers/@seller.username&phone=@seller.whatsapp()">
                                            @seller.whatsapp</a></span>
                                        </li>
                                    }
                                    @if(seller.locality != null) {
                                        <li>
                                            <i class="ion-ios-location"></i>
                                            <span>@seller.locality</span>
                                        </li>
                                    }
                                    @*<li>
                                        <i class="ion-android-globe"></i>
                                        <span><a class="site" href="#">Website</a></span>
                                    </li>*@
                                </ul>
                            </div>
                        </div>

                        @*<div class="sidebar-consultants">
                            <h4 class="sidebar-title">our consultants</h4>

                            <ul class="consultants-items">
                                <li>
                                    <div class="single-consultants">
                                        <div class="consultants-author">
                                            <img src="@StaticAssets.getUrl("static/images/author-1.jpg")" alt="">
                                        </div>
                                        <div class="consultants-content">
                                            <h4 class="name"><a href="#">Roberto Firmino</a></h4>
                                            <div class="profile-rating">
                                                <ul class="star">
                                                    <li class="rating-on"><i class="ion-android-star"></i></li>
                                                    <li class="rating-on"><i class="ion-android-star"></i></li>
                                                    <li class="rating-on"><i class="ion-android-star"></i></li>
                                                    <li class="rating-on"><i class="ion-android-star"></i></li>
                                                    <li><i class="ion-android-star"></i></li>
                                                </ul>
                                                <span>(24 Rating)</span>
                                            </div>
                                            <a href="tel:+68567988809" class="phone">+68 567 98 8809</a>
                                            *@@*<a href="mailto:firmino@@carify.com.uk" class="mail">firmino@@carify.com.uk</a>*@@*
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-dealer-contact">
                            <h4 class="sidebar-title">contact seller</h4>

                            <div class="dealer-contact-form">
                                <form action="#">
                                    <div class="single-input">
                                        <input type="text" placeholder="Full Name">
                                        <i class="ion-android-person"></i>
                                    </div>
                                    <div class="single-input">
                                        <input type="email" placeholder="Emaill Address *">
                                        <i class="ion-android-mail"></i>
                                    </div>
                                    <div class="single-input">
                                        <input type="text" placeholder="Phone (Optinal)">
                                        <i class="ion-android-call"></i>
                                    </div>
                                    <div class="single-input">
                                        <input type="text" placeholder="Zip Code *">
                                        <i class="ion-ios-location"></i>
                                    </div>
                                    <div class="single-input">
                                        <textarea placeholder="Write your Message here..."></textarea>
                                    </div>
                                    <div class="single-input">
                                        <button class="main-btn d-block">check availability</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        *@
                        @*<div class="sidebar-banner">
                            <a href="#">
                                <img src="@StaticAssets.getUrl("static/images/banner-1.jpg")" alt="">
                            </a>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@meta = {
    <meta name="description" content="" />
}

@styles = {
    <style>

    </style>
}

@scripts = {
    <script>
        $(document).ready(function() {

        });
    </script>
}