@(request: Http.Request)

@main.layout("Terms of Use", request=request) {

    <section class="choose-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2 class="title">Terms of Use</h2>
                    </div>
                </div>
            </div>
            <div class="choose-wrapper pt-20">
                <div class="row">
                    <div class="col-md-12">
                        <br/><br/>
                        <h6 class="text-center">
                            By using this website and the services contained therein ('Services')
                            you agree to comply with and be bound by the following terms and conditions ('Terms of Use').
                            If you do not agree to and accept these Terms of Use, you should not use this website.
                            All references within these Terms of Use to 'we/us/our' refer to Carloaded.com Ltd
                        </h6>
                        <br/>
                        <h5 class="text-center">
                            PLEASE READ THESE TERMS OF USE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION
                            ABOUT YOUR RIGHTS AND OBLIGATIONS WHEN USING Carloaded.com (This Site)
                        </h5>
                        <br/>
                        <div class="accordion" id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseOne">
                                        Copyright And Trade Marks
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show">
                                    <div class="card-body">
                                        <p>
                                            The content of the pages on this site are property of Carloaded.com. Reproduction of part or all of the contents in any form is prohibited other than in accordance with the following permissions:
                                        </p>
                                        <p>
                                            <strong>Licence To Re-Copy For Limited Purposes:</strong>
                                        </p>
                                        <p>
                                            <span class="number">1</span>
                                            You acknowledge the Carloaded.com web page as the source of the material. You must include such acknowledgement and the Carloaded.com web address (www.Carloaded.com) in the copy of the material, and
                                        </p>

                                        <p>
                                            <span class="number">2</span>
                                            You must inform the third party that all the Terms and Conditions set out herewith apply to him/her and that he/she is bound by them.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseTwo">
                                        Disclaimer
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse">
                                    <div class="card-body">
                                        <p>
                                            Carloaded.com takes all reasonable care to ensure that the information contained on this website is accurate, however, we cannot guarantee its accuracy and we reserve the right to change the information on this website (including these terms and conditions) at any time. You must therefore check these terms and conditions for any such changes each time you visit this website.
                                        </p>

                                        <p>
                                            Carloaded.com makes no representations or warranties of any kind with respect to this website or the content contained on it, including any text, graphics, advertisements, links or other items. Furthermore, neither Carloaded.com nor any other contributor to this website make any representation or gives any warranty, condition, undertaking or term either expressed or implied as to the condition, quality, performance, accuracy, fitness for purpose, completeness or freedom from viruses of the content contained on this website or that such content will be accurate, up to date, uninterrupted or error free. Nothing on this website shall be regarded or taken as financial advice.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseThree">
                                        Registration And Security
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse">
                                    <div class="card-body">
                                        <p>
                                            You must be over eighteen years of age to register on our website and must ensure that the details provided by you on registration are true, accurate, current and complete. It is your responsibility to update and inform us of any changes to the details provided on registration. Although certain parts of our website may be used by anyone who visits without requiring registration, some of the Services require you to register in order to enable us to verify your identity.
                                        </p>

                                        <p>
                                            By registering with the service, you agree that we can send you emails about your account, other Carloaded.com Ltd services and occasional third party offers. You can manage your communication preferences or unsubscribe from communications at any time.
                                        </p>

                                        <p>
                                            When registering, you will be asked to create a password and will be responsible for maintaining the confidentiality of your password and restricting access to your computer, as you will be accountable for any activities conducted under your password. If you believe that someone has accessed your account without authorisation, please contact us immediately.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseFor">
                                        Membership
                                    </a>
                                </div>
                                <div id="collapseFor" class="collapse">
                                    <div class="card-body">
                                        <p>
                                            <span class="number">a</span> To access or use certain parts of the Website, you must register as a member of the Website.
                                        </p>

                                        <p>
                                            <span class="number">b</span>When registering as a member of the Website, you must provide us with accurate, complete and up-to-date information as requested. It is your responsibility to inform us of any changes to that information.
                                        </p>

                                        <p>
                                            <span class="number">c</span>You are permitted to create one profile for yourself. You must not create multiple member profiles on the Website.
                                        </p>

                                        <p>
                                            <span class="number">d</span>All personal information you provide to us will be treated in accordance with our Privacy Policy.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseFive">
                                        Termination Of Membership
                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse">
                                    <div class="card-body">
                                        <p>
                                            <span class="number">a</span> You may terminate your membership of the Website for any reason only by providing written notice to us. You can provide notice of termination by emailing us via the Contact Us page.
                                        </p>

                                        <p>
                                            <span class="number">b</span>We reserve the right, without limitation, to do any or all of the following in relation to your membership:
                                        </p>

                                        <ol>
                                            <li>i. suspend your membership;</li>
                                            <li>ii. terminate your membership for any reason by providing notice to you by email;</li>
                                            <li>iii. terminate your membership immediately without notice to you if you have committed a breach of the Conditions; and</li>
                                            <li>iv. Permanently or temporarily block your access to all or part of the Website.</li>
                                        </ol>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseSix">
                                        Law
                                    </a>
                                </div>
                                <div id="collapseSix" class="collapse">
                                    <div class="card-body">
                                        <p>
                                            The user confirms that the terms and conditions and use of this website shall be governed by the laws of the federation of Nigeria 2011 and that any and all disputes arising therefrom shall be subject to the exclusive jurisdiction of Nigerian courts.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseSeven">
                                        How To Contact Carloaded.com
                                    </a>
                                </div>
                                <div id="collapseSeven" class="collapse">
                                    <div class="card-body">
                                        <p>
                                            We welcome your views about our website and our Terms of use. If you would like to contact us with any queries or comments please send an e-mail to  support@@carloaded.com
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseEight">
                                        Indemnity
                                    </a>
                                </div>
                                <div id="collapseEight" class="collapse">
                                    <div class="card-body">
                                        <p>
                                            You acknowledge that you are solely responsible for the use to which you put this website and all the results and information you obtain from it and that all warranties, conditions, undertakings, representations and terms whether expressed or implied, statutory or otherwise are hereby excluded to the fullest extent permitted by law.
                                        </p>

                                        <p>
                                            Save in respect of liability for death or personal injury arising out of negligence or for fraudulent misrepresentation, we and all contributors to this website hereby disclaim to the fullest extent permitted by law all liability for any loss or damage including any consequential or indirect loss or damage incurred by you, whether arising in tort, contract or otherwise, and arising out of or in relation to or in connection with your access to or use of or inability to use this website.
                                        </p>

                                        <p>
                                            Whilst we take every care to ensure that the standard of this website remains high and to maintain the continuity of it, we do not accept any ongoing obligation or responsibility to operate this website (or any particular part of it).
                                        </p>

                                        <p>
                                            If any part of our terms and conditions is deemed to be unenforceable (including any provision in which we exclude our liability to you) the enforceability of any other part of these conditions will not be affected.
                                        </p>

                                        <p>
                                            These terms and conditions and your use of this website are governed exclusively by Nigerian law.
                                        </p>

                                        <p>
                                            This does not affect your statutory rights as a consumer.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}