@()

<header class="header-area d-none d-lg-block">
    <div class="header-main">
        <div class="container">
            <div class="header-main-wrapper d-flex justify-content-between align-items-center">
                <div class="header-brand">
                    <a href="@routes.HomeController.index()">
                        <img class="custom-logo" src="@StaticAssets.getUrl("logo.png")" alt="">
                    </a>
                </div>
                <div class="header-main-content d-flex">
                    <div class="single-content-block d-flex">
                        <div class="block-icon">
                            <i class="ion-android-pin"></i>
                        </div>
                        <div class="block-content media-body">
                            <span class="text">Lekki<br/>Lagos</span>
                        </div>
                    </div>
                    <div class="single-content-block d-flex">
                        <div class="block-icon">
                            <i class="ion-email"></i>
                        </div>
                        <div class="block-content media-body">
                            <span class="label">Email</span>
                            <span class="text-2"><a href="mail:{placeholder}">{placeholder}</a></span>
                        </div>
                    </div>
                    <div class="single-content-block d-flex">
                        <div class="block-icon">
                            <i class="ion-clock"></i>
                        </div>
                        <div class="block-content media-body">
                            <span class="label">Working Hours</span>
                            <span class="text">Mon-Fri: 8.00 - 17.00</span>
                        </div>
                    </div>
                </div>
                <div class="header-main-btn">
                    <a href="@routes.AcAutoController.add()" class="main-btn"><i class="ion-model-s"></i> Post Ad </a>
                </div>
            </div>
        </div>
    </div>
</header>