@(pager: pojos.Pager, request: Http.Request)

<div class="all-pagination">
    <ul class="pagination justify-content-center">

        @if(pager.hasPrev) {
            <li>
                <a class="previous" href="@UriUtil.getPagedUrl(request.uri, pager.getPage - 1)">
                    <i class="ion-ios-arrow-back"></i> <span>Previous</span>
                </a>
            </li>
        }

        @for(head <- pager.getList.headOption){
            @if(head>1) {
                <li>
                    <span class="page-link">...</span>
                </li>
            }
        }
        @for(page <- pager.getList) {
            @if(page == (pager.getPage + 1)){
                <li><a class="active" href="javascript:void(0);">@page</a></li>
            } else {
                <li><a alt="@page auto page" href="@UriUtil.getPagedUrl(request.uri, page - 1)">@page</a></li>
            }
        }

        @for(last <- pager.getList.lastOption){
            @if(last < pager.getTotalPages) {
                <li>
                    <a href="javascript:void(0);">...</a>
                </li>
            }
        }

        @if(pager.hasNext) {
            <li>
                <a class="next" href="@UriUtil.getPagedUrl(request.uri, pager.getPage + 1)">
                    <span>Next</span> <i class="ion-ios-arrow-forward"></i>
                </a>
            </li>
        }
    </ul>
</div>