@(field: Field, label: String, options: java.util.Map[String, String])

<div class="form-group single-field @if(field.hasErrors) {has-error}">
    <label class="form-label">@Html(label)</label>
    <select name="@field.name" class="form-select" id="@{field.name}Field">
        <option value="" selected disabled>--select--</option>
        @for((id, name) <- options) {
            <option value="@id" @if(field.value.getOrElse("") == id) {selected = "selected"}>@name</option>
        }
    </select>
    @if(field.hasErrors) {
        <span class="help-block">@{field.error.map { error => error.message }}</span>
    }
</div>
